<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>USPS Postage Rates Calculator</h1>
    <p>This is a Node application for the CS313 course Prove Week 09 Task. It determines the postage required for a single piece of retail first-class mail.</p>

  <form action="/getrate" method="POST">
    <div class="row row-fluid">
      <div class="col-sm-4">
      <div class="form-group">
        <label for="weight" id="activityLabel">Weight:</label>
        <input type="text" class="form-control" name="weight">
      </div>
      </div>
      <div class="col-sm-4">
        <select class="form-control selectpicker" name="postage_type" >
         
          <option value="0">Letters (Stamped) (Weight in oz)</option>
          <option value="1">Letters (Metered) (Weight in oz) </option>
          <option value="2">Large Envelopes (Flats) (Weight in lbs)</option>
          <option value="3">First-Class Package Service—Retail (Weight in lbs)</option>
        </select>
      </div>
      <div class="col-sm-4">
       <input class="form-control" type="submit" value="Calculate Rates" class="btn btn-lg btn-default">
      </div>
      <!--
      <div class="col-sm-4">

         <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Calculate Rates</a>
      </div>
    -->

   </form>
 </div>
  </div>
   
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

</body>

</html>
